pkgbase = nodemangler-bin
	pkgdesc = Node-based visual programming tool for image and color manipulation
	pkgver = 1.0.15
	pkgrel = 1
	url = https://nodemangler.com/
	arch = x86_64
	license = MIT
	license = Apache-2.0
	depends = glibc
	depends = gcc-libs
	depends = libglvnd
	depends = libxkbcommon
	depends = wayland
	depends = libx11
	depends = libxcursor
	depends = libxrandr
	depends = libxi
	depends = hicolor-icon-theme
	depends = xdg-desktop-portal
	optdepends = xdg-desktop-portal-gtk: file dialogs on desktops with no portal backend of their own
	provides = nodemangler
	provides = mangle
	conflicts = nodemangler
	options = !strip
	options = !debug
	source = nodemangler-v1.0.15-linux-x86_64.tar.gz::https://github.com/dan335/nodemangler/releases/download/v1.0.15/nodemangler-v1.0.15-linux-x86_64.tar.gz
	sha256sums = ad4e70e58791a37f2db7d49bc43554a4a4c3f36d0b46540ad3addb99ac336f28

pkgname = nodemangler-bin
